.centered{
	width: 40%;
	height: 25%;
	position: absolute;
	top: -50%;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;
}
body{
	font-family: 'GeosansLight';
	font-size: 150%;
	color: rgb(127,127,127);
}
@font-face{
    font-family: "GeosansLight";
    src: url('../fonts/GeosansLight.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}

.salary{
	width: 65%;
}
p{
	text-align: center;
	font-family: 'GeosansLight';
}
input{
	border: 0;
}
.salaryInput{
	width: 100%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}


h2{
	text-align: center;
	font-family: 'GeosansLight';
}
h3{
	
	font-family: 'GeosansLight';
}
.title{
	background: #FFFFFF

}

body{
	background: #EBEBEB
}

.shadowedDiv{
		
		box-shadow: -2px 2px 2px #888888;
		background: #FFFFFF
}

h3{
	text-shadow: 1px;
	text-decoration-style: dashed;;
}
.centered td,
.centered th
{
    text-align:left;
}

.centered td + td,
.centered th + th
{
    text-align:center
}

.totalTable{
	width: 98%;
	margin-top: 10px;
	height: 0;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px
}
.totalTable tr{
	line-height: 35px;
}


input{
	text-align: right;
	font-family: 'GeosansLight';
	font-size: 115%;
	color:#558ED5;
}

.discountsTable{
	border-bottom: 2px solid #EBEBEB;
	width: 96%;
	margin-top: 10px;
	height: 0;
	margin-left: 2%;
	margin-right: 2%;

}

.discountsTable tr{
	line-height: 25px;
	margin-bottom: 10px;
}
